<template>
  <div>
    <Form
      @onSubmit="onSubmit"
      @setTitle="setTitle"
      @setDirector="setDirector"
      @setSummary="setSummary"
      @setGenre="setGenre"
      :title="title"
      :director="director"
      :summary="summary"
      :selectedGenre="selectedGenre"
    />
  </div>
</template>

<script setup>
import { ref } from 'vue'
import { useMovie } from 'stores/movie'
import { useRouter } from 'vue-router';
import Form from "./form.vue"
import { v4 as uuidv4 } from 'uuid';
const store = useMovie()
const router = useRouter()
const { addMovie } = store;
const title = ref('')
const director = ref('')
const summary = ref('')
const selectedGenre = ref({})
const myForm = ref(null)
const genres = ref([
  {
    label: 'Drama',
    isSelect: false
  },
  {
    label: 'Action',
    isSelect: false
  },
  {
    label: 'Animation',
    isSelect: false
  },
  {
    label: 'Sci-Fi',
    isSelect: false
  },
  {
    label: 'Horror',
    isSelect: false
  },
])

const setTitle = function (data) {
  title.value = data
}

const setDirector = function (data) {
  director.value = data
}

const setSummary = function(data) {
  summary.value = data
}

const setGenre = function (data) {
  selectedGenre.value = data
}

const onSubmit = function () {
  const payload = {
    title: title.value,
    director: director.value,
    summary: summary.value,
    genre: selectedGenre.value.label,
    id : uuidv4()
  }
  addMovie(payload)
  router.push({
    name: 'movies'
  })
  // myForm.value.validate().then(success => {
  //   if (success) {
     
  //   }
  //   else {
  //     // oh no, user has filled in
  //     // at least one invalid value
  //   }
  // })
}
</script>

<style lang="scss">
.form {
  &__container {
    display: grid;
    gap: 10px;
    padding: 10px;
  }
}
</style>