<template>
  <div>
    <Form
      @onSubmit="onSubmit"
      @setTitle="setTitle"
      @setDirector="setDirector"
      @setSummary="setSummary"
      @setGenre="setGenre"
      @onDelete="onDelete"
      :title="title"
      :director="director"
      :summary="summary"
      :selectedGenre="selectedGenre"
      :isEdit="true"
    />
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import { useMovie } from 'stores/movie'
import { useRouter } from 'vue-router';
import { storeToRefs } from 'pinia';
import Form from "./form.vue"
const store = useMovie()
const router = useRouter()
const { editMovie, deleteMovie } = store;
const title = ref('')
const idMovie = ref('')
const director = ref('')
const summary = ref('')
const selectedGenre = ref({})
const { movie } = storeToRefs(store); 

const setTitle = function (data) {
  title.value = data
}

const setDirector = function (data) {
  director.value = data
}

const setSummary = function(data) {
  summary.value = data
}

const setGenre = function (data) {
  selectedGenre.value = data
}

const onDelete = function (id) {
  deleteMovie(id)
  router.push({
    name: 'movies'
  })
}

const onSubmit = function () {
  const payload = {
    title: title.value,
    director: director.value,
    summary: summary.value,
    genre: selectedGenre.value.label,
    id : idMovie.value
  }
  editMovie(payload)
  router.push({
    name: 'movies'
  })
}

const initData = function () {
  const dataMovie = movie.value
  title.value = dataMovie.title
  director.value = dataMovie.director
  summary.value = dataMovie.summary
  idMovie.value = dataMovie.id
  selectedGenre.value = {
    label : dataMovie.genre
  }
}

onMounted(initData)
</script>

<style lang="scss">
.form {
  &__container {
    display: grid;
    gap: 10px;
    padding: 10px;
  }
}
</style>