<template>
  <q-form ref="myForm" @submit="onSubmit">
    <q-toolbar class="bg-primary row justify-end q-gutter-xs">
      <q-btn @click="deleteMovie" v-if="isEdit" color="white" class="text-black" round dense>D</q-btn>
      <q-btn type="submit" color="white" class="text-black " round dense>S</q-btn>
    </q-toolbar>
    <div class="form__container">
      <q-input v-model="titleValue" label="Title" outlined lazy-rules
        :rules="[val => val && val.length > 0 || 'Please type something']" />
      <q-input v-model="directorValue" label="Director" outlined lazy-rules
        :rules="[val => val && val.length > 0 || 'Please type something']" />
      <q-input v-model="summaryValue" type="textarea" label="Summary" outlined
        :rules="[val => val && val.length > 0 || 'Please type something']" />
      <div>
        <q-chip clickable v-for="genre in genres" @click="onSelectGenre(genre)" color="primary"
          :outline="!genre.isSelect">
          <div :class="genre.isSelect && 'text-white'">{{ genre.label }}</div>
        </q-chip>
      </div>
    </div>
  </q-form>
</template>

<script setup>

import { ref, computed, onMounted } from "vue"
import { storeToRefs } from 'pinia';
import { useMovie } from 'stores/movie'
const store = useMovie()
const props = defineProps({
  title : String,
  director : String,
  summary : String,
  genre : String,
  isEdit : Boolean
})
const genres = ref([
  {
    label: 'Drama',
    isSelect: false
  },
  {
    label: 'Action',
    isSelect: false
  },
  {
    label: 'Animation',
    isSelect: false
  },
  {
    label: 'Sci-Fi',
    isSelect: false
  },
  {
    label: 'Horror',
    isSelect: false
  },
])

const { movie } = storeToRefs(store); 


const emit = defineEmits([
  'onSubmit', 
  'setTitle', 
  'setDirector', 
  'setSummary',
  'setGenre'
])

const titleValue = computed({
  get () {
    return props.title
  },
  set(value) {
    emit('setTitle', value)
  }
})

const directorValue = computed({
  get() {
    return props.director
  },
  set(value) {
    emit('setDirector', value)
  }
})

const summaryValue = computed({
  get() {
    return props.summary
  },
  set(value) {
    emit('setSummary', value)
  }
})


const onSelectGenre = function (genre) {
  const tempGenres = genres.value
  const afterChanges = tempGenres.map(data => {
    if (genre.label === data.label) {
      return {
        ...data,
        isSelect: true
      }
    } else {
      return {
        ...data,
        isSelect: false
      }
    }
  })
  genres.value = afterChanges
  emit('setGenre', genre)
}

const onSubmit = function () {
  emit('onSubmit')
}

const deleteMovie = function () {
  const dataMovie = movie.value
  const id = dataMovie.id
  emit('onDelete', id)
}
const initGenre = function () {
  const dataMovie = movie.value
  if(dataMovie) {
    const genre = dataMovie.genre
    const dataGenres = genres.value
    const reformat = dataGenres.map(d => {
      if(d.label === genre) {
        return {
          ...d,
          isSelect : true
        }
      }else {
        return {
          ...d,
          isSelect : false
        }
      }
    })
    genres.value = reformat
  }
  
}

onMounted(initGenre)
</script>