<template>
  <div>
    <q-toolbar class="bg-primary row justify-end q-gutter-xs">
      <q-toolbar-title>
        Movies Collection
      </q-toolbar-title>
    </q-toolbar>
   
    <div class="q-pa-md page-cards">

      <q-input
        v-model="search"
        outlined
        placeholder="Search Movie"
      >
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-input>

      <q-card v-if="movies.length > 0" v-for="movie in movies" @click="openDetail(movie)">
        <q-card-section class="bg-primary text-white">
          <div class="text-h6">{{ movie.title }}</div>
          <div class="text-subtitle2"> {{ movie.director }} </div>
        </q-card-section>
        <q-card-section>
          {{ movie.summary }}
        </q-card-section>
        <q-separator />
        <q-card-actions align="right">
          <q-btn flat>{{ movie.genre }}</q-btn>
        </q-card-actions>
      </q-card>
    </div>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn @click="addMovie" fab icon="add" color="primary" />
    </q-page-sticky>
  </div>
</template>

<script setup>
import { useRouter } from 'vue-router';
import { storeToRefs } from 'pinia';
import { useMovie } from 'src/stores/movie';
import { ref , watch } from 'vue'
const router = useRouter()
const store = useMovie()
const { setDataMovie, searchMovie } = store;
const { movies } = storeToRefs(store); 
const search = ref('')
const addMovie = function () {
  router.push({
    name : 'createMovie'
  })
}
const openDetail = function (movie) {
  router.push({
    name : 'editMovie'
  })
  setDataMovie(movie)
}

watch(search, (value) => {
  searchMovie(search.value)
})
</script>

<style lang="scss">
.my-card {
  max-width: 400px;
}
.page-cards {
  display: grid;
  gap: 10px;
  margin: 0 auto;
  max-width: 400px;
}
</style>